{#
/**
 * @file
 * bubblecard
 *
 * Available variables for bubblecard:
 *    - bubblecard.variable_name [variable_type]: Description of the variable. Example below.
 *    - bubblecard.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

{#{% set bubblecard_classes = [#}
  {#'bubblecard',#}
  {#theme ? 'theme-' ~ theme#}
{#] | sort | join(' ') | trim %}#}

{#<div class="{{ bubblecard_classes }}" style="background-image: url('{{image}}')">#}
  {#<div class="bubblecard-content">#}
    {#<h2>{{title}}</h2>#}
    {#<p>{{description}}</p>#}

 <div class="bubblecard">
   <div class="bubblecard-content">
       {% include '@atoms/circle/_circle.twig'
           with {
           title: title,
           description: description,
           theme: theme,
           background: image
       }
       %}
       {% include '@atoms/dot/_dot.twig'
           with {
           dot_element: 'a',
           text: 'Github',
           link: github_link,
           color: 'white',
           background: theme,
           dot_other_classes: 'github'

       }
       %}
       {% include '@atoms/dot/_dot.twig'
           with {
           dot_element: 'a',
           text: 'Website',
           link: demo_link,
           color: 'white',
           background: theme,
           dot_other_classes: 'link'
       }
       %}
   </div>

 </div>
