{% extends '@atoms/grid/_grid-1-up.twig' %}
    {% set container = true %}

    {% block column_1 %}
        <h1>Circles </h1>
        <div class="circles">
                <div>
                    {% include '@atoms/_circle.twig' with circle1 %}
                    {% include '@atoms/_circle.twig' with circle2 %}
                </div>
                <div>
                    {% include '@atoms/_circle.twig' with circle3 %}
                    {% include '@atoms/_circle.twig' with circle4 %}
                </div>

            </div>
        </div>

    {% endblock column_1 %}
