{% extends '@atoms/grid/_grid-1-up.twig' %}
  {% set container = true %}

  {% block column_1 %}
      <h1>Text Boxes</h1>
      <div class="texts">
          {% include '@atoms/_textbox.twig' with textbox1 %}
          {% include '@atoms/_textbox.twig' with textbox2 %}
      </div>

  {% endblock column_1 %}

