// All component Sass needs non-printing base config
@import '../../00-protons/variables';
$gradient-color: #E91E63;
$gradient-color-dark: darken($gradient-color, 20%);

.gradienttag {
  padding: 4px;
  font-size: 1.2em;
  margin: 4px;
  border-radius: 5px;
  display: inline;
  width: fit-content;
}
