
{% extends '@atoms/grid/_grid-1-up.twig' %}
  {% set container = true %}

  {% block column_1 %}
    <h1>BubbleCards</h1>
    <div class="bubblecards">
      {% include '@molecules/bubblecard/_bubblecard.twig' with bubblecard1 %}
      {% include '@molecules/bubblecard/_bubblecard.twig' with bubblecard2 %}
      {% include '@molecules/bubblecard/_bubblecard.twig' with bubblecard3 %}
      {% include '@molecules/bubblecard/_bubblecard.twig' with bubblecard4 %}
    </div>
  {% endblock column_1 %}

