// All component Sass needs non-printing base config
@import '../../00-protons/variables';

$new-colors:(
  "pink": #E91E63,
  "chartreuse": #7FFF00,
  "yellow": #FFF176,
  "green": #4E9353,
  "blue": #43BCCD,
  "purple": #B10DC9,
  "sliver": #c0c0c0,
  "darkgrey": #303030,
  "white": #fff
);

$themes: map-merge($new-colors, $colors);


.circles {
  display: flex;

}

.circle {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  margin: 20px;
  background-position: center;
  background-size: cover;
  .circle-content {
    position: relative;
    height: 360px;
    width: 360px;
    border-radius: 50%;
    padding: 20px 30px;
    text-align: center;
    h2 {
      //color: #FFF176;
      font-family: "Lobster", cursive;
      text-shadow: 2px 8px 8px #000;
    }
    p {
      color: white;
      font-weight: bold;
      font-size: 1.6em;
      text-shadow: 1px 4px 4px #333;
    }
  }
}


@each $key, $val in $new-colors {
  .circle.theme-#{$key} {
    border: 20px inset $val;
    .circle-content {
      background-color: rgba($val, 0.2);
    }
  }
  .circle.title_color-#{$key} {
    color: $val
  }
  //.circle.text_color-#{$key} {
  //  color: $val
  //}
}

@media screen and (max-width: 425px) {
  .circle {
    background-size: 300px 300px;
    height: 300px;
    width: 300px;
    .circle-content {
      height: 260px;
      width: 260px;
      padding: 10px;
      h2 {
        margin: 10px 0;
        font-size: 1.8em;
      }
      p {
        font-size: 1.2em;
      }
    }
  }
}