{#
/**
 * @file
 * dot
 *
 * Available variables for dot:
 *    - dot.variable_name [variable_type]: Description of the variable. Example below.
 *    - dot.invert [bool]: When set, colors will be inverted for light display on dark background
 */
#}

{#
    Dot
    theme:
    dot_link: String: The html 'value' attribute.
    dot_text: String: Display text on the dot.

#}

{% set dot_classes = [
    'dot',
     theme ? 'theme-' ~ theme : 'theme-' ~ 'pink',
     color ? 'color-' ~ color: 'color-' ~ 'darkgrey',

] | sort | join(' ') | trim %}

{% set dot_attributes = [
    link ? 'href=' ~ link
] | sort | join(' ') | trim %}

<div class="{{ dot_classes }}" {{ dot_attributes }}>
    {{ text }}
</div>


{#TODO: add more color options or refactor to take string BBE #}